* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.playground {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#editor {
  width: 50%;
  min-width: 10vw;
  max-width: 90vw;
  height: 100%;
  overflow-y: hidden;
}

.resizer {
  width: 8px;
  background: red;
  cursor: col-resize;
}

#root {
  overflow-y: auto;
  flex-grow: 1;
}
