* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.playground {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#editor {
  width: 50%;
  height: 100%;
  resize: horizontal;
  overflow: auto;
}

#root {
  overflow-y: auto;
  flex-grow: 1;
}
