*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 20px;
  color: #555555;
}

input[type='file'] {
  display: none;
}
